# Input 指令

In [1]:
a=input('a=')

a=15

In [2]:
a

'15'

# 匯率換算

In [3]:
m=input("黃金價格: ")

黃金價格: 120

In [4]:
m

'120'

In [5]:
m*3.5

TypeError: can't multiply sequence by non-int of type 'float'

In [6]:
float(m)*30.5

3660.0

In [1]:
m = input("美金價格: ")
twd=float(m) * 30.5
print("合台幣"+ str(twd) +"元")

美金價格: 100
合台幣3050.0元

In [2]:
twd

3050.0

In [3]:
"合台幣"+ twd +"元"

TypeError: can only concatenate str (not "float") to str

In [4]:
"合台幣"+ str(twd) +"元"

'合台幣3050.0元'

# 拍拍機器人

In [5]:
message=input(">> ")
print('拍拍')

>> 今天天氣很好
拍拍