In [3]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df=pd.DataFrame(np.random.randn(5,3),
                index=list(range(1,6)),
               columns=list("ABC"))

In [5]:
df

          A         B         C
1 -0.076776  0.226311  0.679123
2  0.178614  0.254850  1.963351
3  1.933474 -0.845822 -1.554225
4  0.257502 -0.963303 -0.046385
5 -0.511199  1.111322 -1.170727

In [6]:
df[df.B>0]

          A         B         C
1 -0.076776  0.226311  0.679123
2  0.178614  0.254850  1.963351
5 -0.511199  1.111322 -1.170727

In [7]:
df[df.B>0]["C"]=0

C:\Users\cqcod\AppData\Local\Temp\ipykernel_9104\354854362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.B>0]["C"]=0

In [11]:
df.loc[2:3,"B":"C"]

          B         C
2  0.254850  0.000000
3 -0.845822 -1.554225

In [13]:
df.loc[df.B>0,"C"]=0

In [14]:
df

          A         B         C
1 -0.076776  0.226311  0.000000
2  0.178614  0.254850  0.000000
3  1.933474 -0.845822 -1.554225
4  0.257502 -0.963303 -0.046385
5 -0.511199  1.111322  0.000000

In [15]:
df.loc[4,"A"]=7

In [16]:
df

          A         B         C
1 -0.076776  0.226311  0.000000
2  0.178614  0.254850  0.000000
3  1.933474 -0.845822 -1.554225
4  7.000000 -0.963303 -0.046385
5 -0.511199  1.111322  0.000000